#You should add the .env file in private repo only. Always put it in .gitignore in public repo!
#Put your keys here

#Please modify "CMU_ENTRAID_CLIENT_ID" and "CMU_ENTRAID_CLIENT_SECRET"  in parameters
CMU_ENTRAID_CLIENT_ID=
CMU_ENTRAID_CLIENT_SECRET=

#Please modify "post_logout_redirect_uri" in parameters
LOGOUT_URL=https://login.microsoftonline.com/cf81f1df-de59-4c29-91da-a2dfd04aa751/oauth2/v2.0/logout?post_logout_redirect_uri=http://localhost:3000

CMU_ENTRAID_GET_TOKEN_URL=https://login.microsoftonline.com/cf81f1df-de59-4c29-91da-a2dfd04aa751/oauth2/v2.0/token
CMU_ENTRAID_GET_BASIC_INFO=https://api.cmu.ac.th/mis/cmuaccount/prod/v3/me/basicinfo
SCOPE=api://cmu/Mis.Account.Read.Me.Basicinfo offline_access

#Please modify "client_id" and "redirect_uri" in parameters
NEXT_PUBLIC_CMU_ENTRAID_URL=https://login.microsoftonline.com/cf81f1df-de59-4c29-91da-a2dfd04aa751/oauth2/v2.0/authorize?response_type=code&client_id=$CMU_ENTRAID_CLIENT_ID&client_secret=$CMU_ENTRAID_CLIENT_SECRET&redirect_uri=http://localhost:3000/cmuEntraIDCallback&scope=api://cmu/Mis.Account.Read.Me.Basicinfo offline_access&state=xyz
CMU_ENTRAID_REDIRECT_URL=http://localhost:3000/cmuEntraIDCallback
#Use any secret you want. It should be random though.
JWT_SECRET=3g1j2a2OJxru1m6hFtyjFnUP7HhTBNcN
